<template>
  <q-page class="flex flex-center">
    <div width="100vw"><img src="http://assets.stickpng.com/thumbs/58f37747a4fa116215a92414.png" alt="Rick and Morty" width='300px'></div>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
      />
      <q-input v-model="query" @on='pedirPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card class="carta" v-for='(item,index) in items' :key='index' id='estilo'>
          <q-card-title class="titulo">
            {{ item.name }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main class="contenido">
            Status : {{ item.status }}
            <br>
            Especie : {{ item.species }}
            <br>
            Origen : {{ item.location.name }}
            <br>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
#estilo{
  float: left;
}
.carta{
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  height: 250px;
  width: 220px;
  padding: 20px;
  background-color: #d1ddc5;
  align-content: center;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'character',
      entitySelectOptions: [
        {
          label: 'Personajes',
          value: 'character'
        },
        {
          label: 'Origen',
          value: 'location'
        },
        {
          label: 'Episodios',
          value: 'episode'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://rickandmortyapi.com/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
